# Python
__pycache__/
*.pyc

# VS Code
.vscode/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup

# Node
node_modules/

# Trivy cache
.trivycache/

# Security Reports
reports/*.json
reports/*.html

# Sonar
.sonar/